@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// mixins for flex display
@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin mobile-page-header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin mobile-section-header-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin mobile-subheader-text {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin mobile-body-text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin mobile-label-button-text {
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 700;
}

//tablet, desktop text
@mixin tablet-desktop-page-text {
  font-size: 2.063rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin tablet-desktop-section-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin tablet-desktop-subheader-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}

@mixin tablet-desktop-body-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin tablet-desktop-button-label-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
