@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.selections {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    padding: 4rem 2rem;
  }
  @include desktop {
    padding: 4rem 5rem;
  }
  &__title-container {
    margin: 0 0 2rem;
    @include tablet {
      display: flex;
      align-items: center;
    }
    @include desktop {
    }
  }
  &__image {
    width: 12rem;
    @include tablet {
      width: 100%;
    }
  }

  &__title {
    @include mobile-page-header-text;
    text-align: center;
    color: black;
    @include tablet {
      @include tablet-page-text;
    }
    @include desktop {
      @include desktop-page-text;
    }
  }
  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__topics {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__topic {
    border-radius: 50px;
    text-align: center;
    padding: 1rem;
    font-size: 0.75rem;
    margin: 0 0 1rem;
    @include tablet {
      height: 12rem;
      width: calc(33.33% - 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem;
    }
    @include desktop {
      height: 20rem;
      width: calc(33.33% - 2rem);
    }
    &--1 {
      background-color: orangered;
    }
    &--2 {
      background-color: rgb(42, 0, 0);
    }
    &--3 {
      background-color: rgb(185, 95, 5);
    }
  }

  &__subtitle {
    @include mobile-subheader-text;
    color: $topic-font-color;
    @include tablet {
      @include tablet-subheader-text;
      line-height: 2rem;
    }
    @include desktop {
      @include desktop-subheader-text;
    }
  }
}
