@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.coming-soon {
  margin: 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 2rem;
    @include tablet {
      padding: 2rem;
      flex-direction: row;
    }
  }
  &__title {
    @include mobile-page-header-text;
    @include tablet {
      margin: 0 2rem 0 0;
      @include tablet-page-text;
    }
    @include desktop {
      @include desktop-page-text;
    }
  }
  &__image {
    padding: 2rem 0;
    width: 12rem;
  }
  &__back {
    background-color: orangered;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 25px;
    @include mobile-subheader-text;
    &:hover {
      transform: scale(1.2);
    }
    @include tablet {
      @include tablet-subheader-text;
    }
  }
}
