@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.chatbot {
  width: 100%;
  @include tablet {
    width: 50%;
    padding: 0 0 0 2rem;
    display: flex;
    align-items: flex-end;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__messages {
    width: 100%;
    height: 15rem;
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    overflow-y: scroll;

    @include mobile-body-text;
    @include tablet {
      font-size: 1.5rem;
      line-height: 1.5rem;
      height: 27rem;
      @include desktop {
        height: 28rem;
        margin-top: 5.5rem;
      }
    }
  }
  &__message-item {
    list-style: none;
    padding: 0 1rem 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
    white-space: pre-wrap;
    @include tablet {
      font-size: 1rem;
      line-height: 1.75rem;
    }
    @include desktop {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
    &--assistant {
      font-weight: bold;
    }
  }
  &__loading {
    padding: 2rem 0 0;
    text-align: center;
    @include keyframes(pulsating) {
      0% {
        transform: scale(0.8);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.8);
      }
    }
    @include animate(pulsating, 0.75s, infinite);
  }
  &__image {
    padding: 2rem 0;
    width: 8rem;
    position: relative;
    @include keyframes(bouncing) {
      0%,
      100% {
        bottom: 0;
      }
      50% {
        bottom: 10px;
      }
    }
    @include animateWithSpeedCurve(bouncing, 1s, linear, infinite);
    @include tablet {
      @include keyframes(bouncing) {
        0%,
        100% {
          right: 0;
        }
        50% {
          right: 10px;
        }
      }
      @include animateWithSpeedCurve(bouncing, 1s, linear, infinite);
    }
  }
  &__unsubmitted-placeholder {
    font-size: 1rem;
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &__input {
    width: 100%;
    margin: 0 0 1rem;
    border: none;
    border-radius: 10px;
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: "Red Hat Text", Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(254, 237, 237);
    resize: none;
    &::placeholder {
      color: rgba(0, 0, 0, 0.826);
      font-weight: bold;
    }
    &:focus {
      border: 1px solid orangered;
      outline: none;
      background-color: white;
    }
    @include desktop {
      font-size: 1.5rem;
      height: 6rem;
    }
  }
  &__button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  }
  &__button {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Red Hat Text", Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 60px;
    border: none;
    background-color: orange;
    box-shadow: 0px 0px 20px red;

    @include tablet {
      width: 5rem;
      height: 5rem;
      font-size: 1.25rem;
      border-radius: 60px;
      margin: 0 0 0 1rem;
    }
    @include desktop {
      width: 7rem;
      height: 7rem;
      font-size: 1.5rem;
    }
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
