@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include column-flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: rgba(252, 190, 22, 0.72);
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 5rem;
  }
  &__home-link {
    text-decoration: none;
    color: orangered;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__logo-container {
    padding: 0 0 1rem;
    display: flex;
    justify-content: center;
    @include tablet {
      padding: 0;
      justify-content: flex-start;
    }
  }
  &__logo {
    width: 2rem;
  }

  &__title {
    @include bold-20px-text;
    margin: 0 0 0 1rem;
  }
  &__name {
    @include bold-16px-text;
    @include tablet {
      @include bold-20px-text;
    }
  }
}
